<!DOCTYPE html>
<html>
  <head>


    <meta charset="utf-8" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>GrandPy Bot</title>
  </head>

<body>


  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <nav class="col navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="index.html">
            GrandPy Bot
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col">
          <div class="card">
            <img src="static/images/logograndpy.png" alt="logograndpy" class="card-img-top">
            <div class="card-body" id="greeting">
              <h5 class="card-title">Bonjour, je suis GrandPy Bot</h5>
              <p class="card-text">J'ai beaucoup voyagé et je connais beaucoup d'endroit. De quel coin veut tu que nous parlions?</p>
              <div id="main">


                <ul>
                    <li>Elément 1</li>
                    <li>Elément 2</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
           <div class="col">
             <div id="map"></div>
           </div>
    </div>

    <div class="row">
           <div class="col">

             <form>
               <div class="form-group">
                 <label for="note">Vous dites:</label>
                 <textarea id="note" rows="3" class="form-control" required></textarea>
               </div>
               <button type="submit" class="btn btn-primary">Envoyer</button>
             </form>


             <div class="inputBox">
               <form method = "POST">
                 <input id="userInput" type="text" name="userText" />
                 <button class="sendQuestion" type="submit" >Envoyerfinal</button>
               </form>
             </div>

           </div>
    </div>


  </div>

  <footer>
    <p>Paul Dorel</p>
  </footer>
  <script src="/static/js/script.js"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_AvlFTYhvq1mqWAAxAGCZ1MRSuLI3VyI&callback=initMap"></script>

</body>
</html>
